numpy==1.26.4
torch
torchvision
torchaudio
transformers
pytorch-lightning==1.9.0
jsonnet
easydict
pandas
scipy
opencv-python
fuzzywuzzy
scikit-image 
matplotlib 
timm 
scikit-learn 
sentencepiece 
tensorboard
setuptools